body
    h1= "test form Pug (Jade)"
    form(action="/tes" method="POST")
        div
            label Name 
            input(type="text" name="nama" id="nama" placeholder="name")
        div
        br
        input(type="submit")