body
    h1= "cek bilangan"
    form(action="/angka" method="POST")
        div
            label Bilangan 
            input(type="text" name="angka" id="angka" placeholder="angka")
        div
        br
        input(type="submit")